*.pyc
*.pyo
/tags
/.tags
*.lprof
/build
*.so
*.o
deps/

.idea/
dist/
pybasicbayes/
pyhlm.egg-info/
pyhlm/internals/hlm_messages_interface.cpp
pyhlm/internals/internal_hsmm_messages_interface.cpp
pyhsmm/
venv/

sample/hypparams/letter_duration.config
sample/hypparams/letter_hsmm.config
sample/hypparams/letter_observation.config
sample/hypparams/model.config
sample/hypparams/pyhlm.config
sample/hypparams/superstate.config
sample/hypparams/word_length.confi

sample/parameters/
sample/results/
sample/summary_files/
